.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.form-container .form-container__field,
.form-container .form-container__button {
    width: 100%;
}